/* Mobile first*/
@media screen { 
    /* Layout */
    .container{
        width:100%;
        max-width: 960px;
        margin: 0 auto;
    }
    .columns{
        display: flex;
    }
    .sidebar{
        display: none;
    }
    
    /*  Utils  */
    .article-intro-img{
        float:left;
        padding-right: 1em;
        width: 50%;
    }
    
    /* Navigation */
    nav > ul {
        list-style: none;
        padding: 0;
    }
    ul.list--jusified{
        display: flex;
        justify-content: space-around;
    }
    nav.menu ul{
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        flex-direction: column;
        flex-wrap: wrap;
        height: 1em;
        text-align: center;
    }
    nav.menu li{
        border:1px solid black;
        padding:0 1em;
    }
    /* Cover image*/
    .cover-image img{

/*        display: none;*/
    }
    .cover-image{

    }
} 

@media screen and (max-width:450px) { 

} 

@media screen and (min-width:450px) { 
    .container{
        width:80%;
    }
} 
@media screen and (min-width:760px) { 
    .sidebar{
        display: block;
    }
} 
@media screen and (min-width:960px) { 

} 




@media screen and (min-width:450px) and orientation:portrait { 
    
} 

@media screen and (max-width:450px) and orientation:landscape { 
    
}