.container{
    width:80%;
    max-width: 960px;
    min-width: 400px;
    margin: 0 auto;
}

.article-intro-img{
    float:left;
    margin: 0 1em 0 0
}
p {
    clear:both;
}

.columns{
    display: flex;
}


.table-columns{
    display:table-row;
}
.table-columns .column {
    display: table-cell;
    vertical-align: top;
    border: 1px solid black;
}

/* Display inline*/
.inline-columns .column.article{
    display: inline-block;
    width: 80%;
    
}
.inline-columns .column.sidebar{
    display: inline-block;
    vertical-align: top;
    width: 19.5%; /* <=  Bo spacja pomiedzy kolumanmi */
}


/* Kolumna po lewej 20% / 80% */
.float-columns.left .article{
    float:right;
    width: 80%;
}
.float-columns.left .sidebar{
    width: 20%;
}
/* Kolumna po prawej 80% / 20% */
.float-columns.right .article{
    float:left;
    width: 80%;    
}
.float-columns.right .sidebar{
    float:left;
    width: 20%;
}
footer{
    clear:both;
}

/*
main, header,nav,section,article,aside,div,p,h1{
    outline: 2px solid red;
}

a, strong,b,em,cite,q,i{
    outline: 2px solid yellow;
}
*/
